* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFE6D9;
    font-family: 'Roboto Slab', serif;
}

.connexion {
    margin : 100px;
    text-align: center;
    border: solid blue; 
}